/* @import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'EB Garamond', serif; */
}

.home,
.cine,
.nba,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.cine {
  /* background-image: url('/images/img-2.jpg'); */
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  font-size: 100px;
}

.nba {
  /* background-image: url("img-1.jpg"); */
  background-color: #ffffff;
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #000;
  font-size: 100px;
}

.sign-up {
  /* background-image: url('/images/img-8.jpg'); */
  background-color: gold;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  font-size: 100px;
}

